:root {
  --bd-size: 0.15rem;
  --bd-color: #f2f2f2;
  --bd-rad: 0.25rem;
  --hos-logo-size: 48px;
}
#cont {
  position: relative;
}
#cont > * {
  border: var(--bd-size) solid var(--bd-color);
  border-radius: var(--bd-rad);
  padding: 15px 18px;
}
.hospital-logo {
  border-radius: 50%;
  width: var(--hos-logo-size);
  height: var(--hos-logo-size);
  object-fit: cover;
  object-position: center;
  border: 0.15rem solid #ddd;
}
section#right article header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
section#right article header .inner-1 {
  display: flex;
  align-items: center;
  gap: 15px;
}
.trust {
  font-weight: bold;
  background-color: var(--pico-background-color);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  padding: 5px 7px;
  border-radius: 0.25rem;
  z-index: 4;
  border: 0.05rem solid var(--pico-form-element-border-color);
}
.priority {
  color: white;
  padding: 5px 6px;
  font-weight: bold;
}
.tags { display: flex; justify-content: space-between; align-items: center;}
.tags .donation-amount {
  padding: 5px 6px;
  background-color: #0f4c2a;
  font-weight: bold;
  color: white;
}
