---
title: CareBridge - Register your hospital for free
layout: base.njk
css:
  - '/css/auth-forms.css'
---
<section>
  <h1>Register your hospital for Free <img src='/icons/sparkle.svg' style="width: 2.5rem; vertical-align: top;" /></h1>
  <div style="text-align: center;">
    <a href="/login">Already have a hospital account?</a>
  </div>
  <form method="POST">
    <label for="name">
      Hospital Name
      <input
        type="text"
        id="name"
        name="name"
        required
        aria-required="true"
        placeholder="Grace General Hospital"
      />
    </label>
    <div class="grid">
      <label>
        Email
        <input
          type="email"
          name="email"
          required
          aria-required="true"
          placeholder="someone@example.com"
        />
      </label>
      <label>
        Phone Number (with country code)
        <input
          type="tel"
          name="phone"
          required
          aria-required="true"
          placeholder="+XXX XXX XXX..."
        />
      </label>
    </div>
    <div class="grid">
      <label>
      Password
        <input
          type="password"
          name="password"
          required
          aria-required="true"
          placeholder="******"
        />
      </label>
      <label>
        Confirm Password
        <input
          type="password"
          name="confrim-password"
          required
          aria-required="true"
          placeholder="******"
        />
      </label>
    </div>
    
    <div class="grid">
      <label for="country">
        Country Name
        <input
          type="text"
          id="country"
          name="country"
          required
          aria-required="true"
          placeholder="Nigeria"
        />
      </label>
      <label for="city">
        City 
        <input
          type="text"
          id="city"
          name="city"
          required
          aria-required="true"
          placeholder="Abuja"
        />
      </label>
    </div>
    <label>
      Address
      <input
        type="text"
        name="address"
        required
        aria-required="true"
        placeholder="123 Maple Street"
      />
    </label>
    <label>
      Date of establishment
      <input
        type="date"
        name="establish"
        required
        aria-required="true"
      />
    </label>
    <label>
      Website Link (or facebook page link, instagram etc..)
      <input
        type="url"
        name="website-link"
        required
        aria-required="true"
        placeholder="https://www.example.com or https://facebook.com/xxx"
      />
    </label>
    <label>
      Number of staff (including doctors and nurses)
      <input
        type="number"
        name="num-workers"
        required
        aria-required="true"
        placeholder="32"
      />
    </label>
    <label>
      Number of beds 
      <input
        type="number"
        name="beds_count"
        required
        aria-required="true"
        placeholder="49"
      />
    </label>
    <label>
      Hospital location link on Google Maps
      <input
        type="url"
        name="location-link"
        required
        aria-required="true"
        placeholder="https://maps.app.goo.gl/xxxxx"
      />
    </label>
    <label>
      Hospital legal PDF document (Government registration certificate or license)
      <input
        type="file"
        name="docs"
        required
        aria-required="true"
      />
    </label>
    <label>
      Hospital logo 
      <input
        type="file"
        name="logo"
        required
        aria-required="true"
      />
    </label>
    <fieldset>
      <legend>Upload 3 photos: 1 photo of the hospital's manager, 1 photo of hospital's exterior (hospital's entrance must be in the photo) and a photo of hospital's interior (Don't upload patients' photos!)</legend>
      
      <div class="grid">
        <input
          type="file"
          name="photo-1"
          required
          aria-required="true"
        />
        <input
          type="file"
          name="photo-2"
          required
          aria-required="true"
        />
        <input
          type="file"
          name="photo-3"
          required
          aria-required="true"
        />
      </div>
    </fieldset>
    <fieldset>
      <legend>Please answer questions below.</legend>
      
      <label>
        Why do you want to make an account?
        <textarea name="q-1" placeholder="your answer goes here.."></textarea>
      </label>
      <label>
        If someone can't afford the bill/medicine will you treat him for free until he pays or you will refuse politely until he pays?
        <textarea name="q-2" placeholder="your answer goes here.."></textarea>
      </label>
    </fieldset>
    <fieldset>
      <legend>Please agree to checkboxes below.</legend>
      <label>
        <input
          type="checkbox"
          name="check-1"
          required
          aria-required="true"
        /> I swear to be 100% honest, to treat people in need for free, and to ask for donations using true, verified numbers and bills.
      </label>
      <label>
        <input
          type="checkbox"
          name="check-2"
          required
          aria-required="true"
        /> I agree that if I am caught lying, the platform has the full right to involve the police and international courts against me.
      </label>
      <label>
        <input
          type="checkbox"
          name="check-3"
          required
          aria-required="true"
        /> I accept the <a href="#">terms and policies</a> by <a href="/" class="contrast">CareBridge</a>
      </label>
    </fieldset>
    
    <input type="submit" value="Create Account" />
    <a href="/email-us">Need help? Email Us</a>
    
    <small><img src='/icons/hourglass-low.svg' style="width: 1.2rem" /> After submitting, our team will review your application within 48 hours. You'll receive an email when approved.</small>
  </form>
</section>
  
