---
title: CareBridge - Create a new account and make impact
layout: base.njk
css:
  - '/css/auth-forms.css'
js:
  - '/js/signup-user.js'
---

<div>
    <h1>Create a new user account!</h1>
    <div style="text-align: center;">
        <a href="/signup-hospital">Are you a hospital?</a>
    </div>
    <section class="form-section">
        <form id="signupForm">
            <label>
                Full Name
                <input type="text" id="fullname" placeholder="John Doe" required />
            </label>

            <label>
                Email
                <input type="email" id="email" placeholder="someone@example.com" required />
            </label>

            <label>
                Password
                <input type="password" id="password" placeholder="*******" required />
            </label>

            
            <label>
                Account type
                <select required id="role">
                    <option value='donor'>Donor</option>
                    <option value='individual'>Individual</option>
                </select>
            </label>

            <label class="agree-label">
                <input type="checkbox" x-model="agree" required />
                I have read and I accept <a href="#">Terms and Policies</a>
            </label>

            <button type="submit">
               Create Account
            </button>
        </form>
        
        <p id="message"></p>
        <a href="/login" class="end-link">Already have an account?</a>
    </section>
</div>
