---
title: CareBridge - Add a new request
layout: base.njk
---

<a href="/dashboard" role="button" class="outline secondary" style="margin-bottom: 2rem;">
  Back to Dashboard
</a>

<form id="indRequestForm">
  <input type="text" id="medNameInd" placeholder="Medicine Name" required>
  <input type="number" id="costInd" placeholder="Cost ($)" required>
  <label><input type="checkbox" required> I swear this is a true life-saving request. ⚖️</label>
  <button type="submit">Request Help</button>
</form>
