---
title: CareBridge - Live Requests
layout: base.njk
css:
  - '/css/requests.css'
js:
  - '/js/requests/index.js'
---
<section id="cont" class="container-fluid">
  <section id="right">
    <article>
      <header>
        <div class="inner-1">
          <div class="hospital-logo"></div>
          <span>North Hospital LTD.</span>
        </div>
        
        <div role="button" class="outline secondary">Hospital</div>
      </header>
      
      <p>Medicines: <b>Bla 1, Bla 2</b></p>
      <p>Patient ID: P-389</p>
      <p>Request Date: Thu Apr 30 2026 12:55:56 GMT+0300</p>
      
      <div class="tags">
        <span class="priority" style="background-color: darkblue;">Normal</span>
        <span class="donation-amount">$150</span>
      </div>
      
      <footer class="grid">
        <button role="button" style="font-weight: bold;">DONATE <img src='/icons/tip-jar.svg' /></button>
        <button role="button" style="font-weight: bold;" class="secondary">CONTACT <img src='/icons/paper-plane-tilt.svg' /></button>
      </footer>
    </article>
    
    <article>
      <header>
        <div class="inner-1">
          Sick person in need <img src='/icons/first-aid.svg' />
        </div>
        
        <div role="button" class="outline secondary">Individual</div>
      </header>
      
      <p>Medicines: <b>Bla 1</b></p>
      
      
      <div class="tags">
        <span class="priority" style="background-color: #E63946;">Life</span>
        <span class="donation-amount">$120</span>
      </div>
      
      <footer class="grid">
        <button role="button" style="font-weight: bold;">DONATE <img src='/icons/tip-jar.svg' /></button>
        <button style="font-weight: bold;" class="secondary">CONTACT <img src='/icons/paper-plane-tilt.svg' /></button>
      </footer>
    </article>
  </section>
</section>
  
